In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('null_value.csv')

In [3]:
print(data.shape)

(4, 2)

In [17]:
data.head()

  product  price
0       a  200.0
1       b  300.0
2       c  300.0
3       d  400.0

In [9]:
data.dtypes

product     object
price      float64
dtype: object

In [10]:
data.isnull().sum()

product    0
price      1
dtype: int64

In [12]:
data['price'].mean()

300.0

In [14]:
data['price'].median()

300.0

In [15]:
data['price'].fillna(data['price'].median(),inplace=True)

In [16]:
data.isnull().sum()

product    0
price      0
dtype: int64